  
{% extends 'restaurants/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {{ form.non_field_errors }}
    {% csrf_token %}
    {% load widget_tweaks %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="text-center">
        <button type="submit" class="btn btn-success center-block"> Connexion</button>
    </div>
</form>
{% endblock %}
