{% extends "restaurants/layout.html" %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
        <div class="container">
        <h1>Nom : {{restaurant.name}}</h1>
        <ul class="list-group">
          <li class="list-group-item">Adresse : {{restaurant.adress}}</li>
          <li class="list-group-item">Email : {{restaurant.email}}</li>
          <li class="list-group-item">N° Téléphone: 0{{restaurant.phone}}</li>
          <li class="list-group-item">Utilisateur : {{restaurant.user}}</li>
        </ul>
        <div class="text-center">
            <a href="/">Accueil</a>
        </div>
    </div>
{% endblock %}
